name: Build and Test on Linux

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  proc_num: $(nproc)

jobs:
  compile-with-make:
    runs-on: ubuntu-latest # https://github.com/actions/runner-images

    steps:
    - uses: actions/checkout@v2
    
    - name: install dependences
      run: |
           sudo apt-get install -y git g++ make libssl-dev libgflags-dev libprotobuf-dev libprotoc-dev protobuf-compiler libleveldb-dev
    - name: config_brpc
      run: |
           ./config_brpc.sh --header="/usr/local/include /usr/include" --libs="/usr/local/lib /usr/local/lib64 /usr/lib /usr/lib64"
    - name: compile
      run: |
           make -j ${{env.proc_num}}
  compile-with-cmake:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: install dependences
      run: |
           sudo apt-get install -y git g++ make libssl-dev libgflags-dev libprotobuf-dev libprotoc-dev protobuf-compiler libleveldb-dev
    - name: cmake 
      run: |
           mkdir build
           cd build
           cmake ..
    - name: compile
      run: |
           cd build
           make -j ${{env.proc_num}}
           
  unittest:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install dependences
      run: |
           sudo apt-get install -y git g++ make libssl-dev libgflags-dev libprotobuf-dev libprotoc-dev protobuf-compiler libleveldb-dev

    - name: config_brpc
      run: |
           ./config_brpc.sh --header="/usr/local/include /usr/include" --libs="/usr/local/lib /usr/local/lib64 /usr/lib /usr/lib64"

    - name: compile
      run: |
           cd test
           make -j ${{env.proc_num}}
    
    - name: test 
      run: |
           cd test
           sh run_tests.sh
